body{
    background: #0A2E63;
    font-family: 'Rubik', sans-serif;
}

@font-face
{
font-family:'NotoNaskh';
src: url('fonts/Noto-Naskh-Arabic.ttf') format('TrueType');
}

/*
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
*/


#threeCanvas{
    position: absolute;
   
    width:100%;
    height: 100%;
    height: 90vh;
    top:0;
    line-height: 1.9em;
    font-size: 3em;
    color: #00ffff;
    z-index: -1;
}

.clearAfter:after {
    content: '';
    display: block;
    clear: both; 
}

.row{
    padding-left: 5%;
    padding-right: 5%;
}

#deskMenu{
    direction: rtl;
    position: absolute;
    top: 1em;
    right: 2em;
    width: 100%;
    line-height: 1.0em;
    font-size: 1em;
    font-weight: 400;
    color: #E3E3E3;
    text-transform: uppercase;
    margin-left: -2em;
/*    font-family: 'Rubik', sans-serif;*/
    
}

#afterBirds{
    position: absolute;
    top: 75vh;
    left: 0;
    width: 100%;
    line-height: 1.0em;
    font-size: 1em;
    color: #E3E3E3;
/*    font-family: 'Rubik', sans-serif;*/
    
}
#maintitle{
    line-height: 1.25em;
    font-size: 2em;
    /*color: #fff;*/
    font-weight: 500;
    text-align: center;
    height: 12vh;
}

#subtitle{
    line-height: 1.0em;
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    height: 13vh;
}



.brightsection{
    line-height: 1.4em;
    font-size: 1.4em;
    background: #E3E3E3;
    font-weight: 400;
    color: #0A2E63;
    padding-bottom: 3em;
    padding-top: 3em;
}

.darksection{
    line-height: 1.25em;
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 3em;
    padding-top: 3em;
}

#aboutLinks a{
    text-decoration: none;
    color: #0A2E63;
    transition: all 0.5s ease;
}

#aboutLinks a:hover{
    text-decoration: none;
    color: #ff4400;
}

button a{
    text-decoration: none;
    color: #E3E3E3;
}

button a:hover{
    text-decoration: none;
    color: #0A2E63; /*ff4400;*/
}

#talk {
    height: 2em;
    width: 8em;
    font-size: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #e3e3e3;
    color: #0A2E63;
}

#talk:hover{
    /*border-color: #ff4400;*/
    background: #ff4400;
    color: #e3e3e3;
}

#work p{
    line-height: 1.3em;
    font-size: 0.75em;

    text-align: center;
    margin-bottom: 2em;
    
}