
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500|Roboto');


/*
a{
    text-decoration: none;
    color: #E3E3E3;

}

a:hover{
    text-decoration: none;
    color: #0A2E63;
    ff4400;
}
*/

body{
    background: #0A2E63;
    font-family: 'Roboto', sans-serif;
/*   font-family: 'Rubik', sans-serif;*/
}

h2,h3,h5{
    font-family: 'Rubik', sans-serif;
}

/*
@font-face{
font-family:'NotoNaskh';
src: url('fonts/Noto-Naskh-Arabic.ttf') format('TrueType');
}
*/

#threeCanvas{
    position: absolute;
   
    width:100%;
    height: 100%;
    height: 90vh;
    top:0;
    line-height: 1.9em;
    font-size: 3em;
    color: #00ffff;
    z-index: -1;
}

.clearAfter:after {
    content: '';
    display: block;
    clear: both; 
}

.row{
    padding-left: 5%;
    padding-right: 5%;
}

#deskMenu{
/*    direction: rtl;*/
    position: absolute;
    top: 0.75em;
    left: 1.75em;
    height: 32px;

    width: 80%;

    line-height: 1.0em;
    font-size: 1em;
    color: #E3E3E3;
    margin-top: 1em;
    font-family: 'Rubik', sans-serif;
}

#deskMenu img{
    vertical-align: middle;
}

#deskMenuItems{
    display: inline;
    visibility: hidden;
    opacity: 0;
    transition: all 1.0s ease;
    font-size: 1.33em;

}


#deskMenuItems a{
    margin-left: 2em;
    color: #E3E3E3;
    transition: all 0.5s ease;
    text-decoration: none;

}

#deskMenuItems a:hover{
    color: #ff4400;

    -webkit-transition:color 500ms ease-in-out;
    -moz-transition:color 500ms ease-in-out;
    transition: color 0.5s ease;

}


#afterBirds{
    position: absolute;
    top: 80vh;
    left: 0;
    width: 100%;
    line-height: 1.0em;
    font-size: 1em;
    color: #E3E3E3;
/*    font-family: 'Rubik', sans-serif;*/
    
}
#maintitle{
    line-height: 1.25em;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: center;
    height: 10vh;
    text-transform: uppercase;
}
#maintitle h5{
    font-size: 0.8em;
    font-weight: 400;
    
    text-transform: none;
    
}

#subtitle{

    line-height: 1.0em;
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 1.0em;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    height: 8vh;
}



.brightsection{
    line-height: 1.4em;
    font-size: 1.4em;
    background: #E3E3E3;
    font-weight: 400;
    color: #0A2E63;
    padding-bottom: 3em;
    padding-top: 3em;
}

.darksection{
    line-height: 1.25em;
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 3em;
    padding-top: 3em;
}

#services h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
   padding-bottom: 1.5em;
    padding-top: 1.5em;
}

#services p{
    padding-left: 0.75em;
    padding-right: 0.75em;
    line-height: 1.5em;
    font-size: 0.9em;
}

#services a{
     color: #ff4400;
    text-decoration: none;
}
#services a:hover{
    text-decoration: underline;
}
#services ul{
   padding-left: 1.5em;
    font-size: 0.9em;
    
}


#aboutLinks a{
    text-decoration: none;
    color: #0A2E63;
    transition: all 0.5s ease;
}

#aboutLinks a:hover{
    text-decoration: none;
    color: #ff4400;
}



#work p{
    margin-left: 1em;
    text-align: left;
}

#about{
    min-height: 100vh;
}

#talk a:link, a:visited{
    height: 2em;
    border-radius: 5px;
/*    min-width: 8em;*/
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    padding-left: 2em;
    padding-right:2em;

    background: #e3e3e3;
    color: #0A2E63;
    text-decoration: none;
    transition: all 0.5s ease;
}


#talk a:hover{
    background: #ff4400;
    color: #e3e3e3;
}

#work p{
    line-height: 1.3em;
    font-size: 0.75em;

    text-align: center;
    margin-bottom: 2em;
    
}

#contact a{
    color: #e3e3e3;
    text-decoration: underline;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.

test git
*/


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
